
header{
    background-color: white;
    /* text-align: center;*/
    margin: 19px 0;
}

#title-page{
    color: black;
    font-size: 4em;
    display: inline-block;
}

header img  {
    max-width: 160px;
    /* display: inline-block; */
    margin: 10px 30px;
}